
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

  /* div, header, footer{
      border: 1px solid #000;
  } */

body{
  height: auto;
  width: auto;
}

/* ----------------------------------------------Header-------------------------------------*/

.header {
  /* background: url('../pic_1.jpg') 0 0/100% auto no-repeat fixed; */
  /* background: url('../pic_1.jpg') 0 0/cover no-repeat fixed; */
  /* background-image: url('../pic_1.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  background-color: #232323;
  height: 100px;
  position: relative;
}

.header__logo {
  border: 1px solid #000;
  /* display: inline-block; */
  position: absolute;
  top: 15px;
  left: 15px;
}
.header__menu {
  margin: 20px 30px; 
  padding: 20px 25px;
  float: right;
}

.header__menu li {
  display: inline-block;
}
.header__menu li:after {
  content: "|";
  color: #606060;
  vertical-align:top;
}
.header__menu li:last-child:after {
  content: none;
}

.header__menu a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  /* padding-bottom: 20px; */
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  /* transition: color .2s; */
}
.header__menu a{
  color: #9d999d;
} 
.header__menu a:hover{
  color: #feb386;
}

/*----------------------------------------------Main-------------------------------------*/
.main{
  background: #b8b6b6;
  color: #232323;
  height: 600px;
  padding: 50px 0;
}
.content{
  /* border: 2px solid black; */
  max-width: 823px;
  height: 100%;
  margin: auto;
  /* margin-inline: 5%; */
  position: relative;
}

.content__image{
  float: left;
  width: 30%;
  /* position: absolute; */
}

.content__image img{
  /* height: 50%; */
  width: 100%;
}

.content__body{
  /* max-width: 500px; */
  position: absolute;
  margin-left: 35%;
}

.content__title{
  margin: 0;
}

/*----------------------------------------------Footer-------------------------------------*/

.footer{
  background: #232323;
  color: #606060;
  padding:20px 0;
  text-align:center;
}
.footer p{
  margin:0; 
  padding:0;
}


