{% extends 'base.html' %}

{% block body %}

<div class="main">
    <div class="content">
        <!-- блок 2 -->
        <div class="content__image">
            <!-- тег изображения -->
            <img class="content__image" src="static/pic_1.jpg" alt="картинки нет :(">
        </div>

        <!-- блок 3 -->
        <div class="content__body">
            <!-- заголовок 1 уровня -->
            <h1 class="content__title">
                Lorem ipsum dolor.
            </h1>
            <p class="content__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et dolore quaerat nostrum praesentium quasi exercitationem sapiente nisi voluptatem. Eius, sapiente numquam. Sit praesentium itaque odit sapiente doloribus expedita dolorum ex.
            </p>
            <p class="content__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et dolore quaerat nostrum praesentium quasi exercitationem sapiente nisi voluptatem. Eius, sapiente numquam. Sit praesentium itaque odit sapiente doloribus expedita dolorum ex.
            </p>
            <p class="content__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et dolore quaerat nostrum praesentium quasi exercitationem sapiente nisi voluptatem. Eius, sapiente numquam. Sit praesentium itaque odit sapiente doloribus expedita dolorum ex.
            </p>
            <p class="content__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et dolore quaerat nostrum praesentium quasi exercitationem sapiente nisi voluptatem. Eius, sapiente numquam. Sit praesentium itaque odit sapiente doloribus expedita dolorum ex.
            </p>
            <p class="content__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et dolore quaerat nostrum praesentium quasi exercitationem sapiente nisi voluptatem. Eius, sapiente numquam. Sit praesentium itaque odit sapiente doloribus expedita dolorum ex.
            </p>
        </div>
    </div>
</div>

{% endblock %}