{% extends 'base.html' %}

{% block body %}

<div class="main">
    <div class="content">
        <form action="" method="post">
            <p>
                <!-- <label for="site">Site</label> -->
                <label>Web-сайт</label>
                <input type="text" name="site">
            </p>
            <p>
                <!-- <label for="password">Password</label> -->
                <label>Пароль</label>
                <input type="password" name="password">
            </p>
            <p>
                <label>Число знаков</label>
                <input type="text" name="num_char" value="-">
            </p>

            <p class="content__button">
                <input type="submit">
            </p>

            <div class="content__output">
                {% if message %}
                    <h3>{{ message }}</h3>
                {% endif %}
            </div>
        </form>

        <!-- <div class="content_2__output">
            {% if message %}
                <h3>{{ message }}</h3>
            {% endif %}
        </div> -->
    </div>
</div>

{% endblock %}