
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap'); */
  /* div, header, footer{
      border: 1px solid #000;
  } */

/* body{
  height: auto;
  width: auto;
} */

/* ----------------------------------------------Header-------------------------------------*/

.header {
  /* background: url('../pic_1.jpg') 0 0/100% auto no-repeat fixed; */
  /* background: url('../pic_1.jpg') 0 0/cover no-repeat fixed; */
  /* background-image: url('../pic_1.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  background-color: #232323;
  /* background-color: #0e3669; */
  height: 100px;
  width: 100%;
  position: relative;
}

.header__logo {
  /* border: 1px solid #000; */
  position: absolute;
  z-index: 1;
  /* top: 15px; */
  left: 30px;
  height: 100%;
  width: 120px;
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
}

.header__logo a {
  position: absolute;
  height: 100%;
  width: 100%;
}

.header__logo img {
  position: absolute;
  /* top: auto;
  left: auto; */
  /* height: 70%; */
  width: 100%;
}

.header__menu {
  position: absolute;
  height: 100%;
  width: 100%;
  /* margin: 20px 30px; 
  padding: 20px 25px; */
  /* float: right; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* .header__menu li {
  display: inline-flex;
}
.header__menu li:after {
  content: "|";
  color: #606060;
  vertical-align:top;
}
.header__menu li:last-child:after {
  content: none;
} */

/* .header__menu div {
  display: inline-flex;
} */
.header__menu div:after {
  content: "|";
  color: #606060;
  vertical-align:top;
}
.header__menu div:last-child:after {
  content: none;
}

.header__menu a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  letter-spacing: 2px;
  /* position: relative; */
  /* padding-bottom: 20px; */
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  /* transition: color .2s; */
}
.header__menu a{
  color: #9d999d;
} 
.header__menu a:hover{
  color: #feb386;
}

/*----------------------------------------------Main-------------------------------------*/
.main{
  background: #b8b6b6;
  color:#232323;
  min-height: 500px;
  padding: 10% 0;
}

/* div, form{
  border: 2px solid black;
} */

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  max-width: 823px;
  /* height: 50%; */
  margin: auto;
  /* margin-inline: 5%; */
  position: relative;
}

.content__image{
  /* float: left; */
  width: 400px;
  height: 300px;
  position: relative;
}

.content__image img{
  height: auto;
  width: 100%;
}

.content__body{
  max-width: 500px;
  height: 100%;
  margin-left: 30px;
}

.content__title{
  margin: 0;
}

/*----------------------------------------------Footer-------------------------------------*/

.footer{
  background: #232323;
  color: #606060;
  padding:20px 0;
  text-align:center;
}
.footer p{
  margin:0; 
  padding:0;
}


